.h4, .h5 {
  line-height: 1.5;
  display: inline;
}

.h3 {
  margin: 0;
  display: inline-block;
}

.h4 {
  font-weight: 600;
}

.h5 {
  color: #7C909B;
}

.white-zone {
  background-color: white;
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 30px 0;
}

.white-zone a {
  cursor: pointer;
  color: #506476;
}

.white-zone a:hover {
  text-decoration: none;
}

.edit {
  font-size: 15px;
  color: #3692ce;
  display: block;
  float: right;
}

.record-up {
  height: 130px;
  margin-bottom: 15px;
}

.record {
  height: 288px;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  padding: 15px;
  margin: 0 30px 30px 0;
  display: inline-block;
}

.record ._record_img {
  width: 172px;
  height: 130px;
  background-size: cover;
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.record span {
  background-color: #d4eeff;
}

.record .btn {
  padding: 15px 30px;
  width: 160px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #979797;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1;
  transition: .1s;
}

.record .btn:hover {
  color: #44ACF2;
}

.record .fb-btn {
  width: 104px;
  background-color: #4a73a8;
  color: white;
  border: none;
  float: right;
  font-weight: 600;
  transition: .1s;
}

.record .fb-btn:hover {
  color: #DEDEDE;
}

.you-back {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #7a7a7a;
  background-color: #efefef;
  border-radius: 3px;
  padding: 8px;
}

.r-table > tbody > tr:first-child th, .r-table > tbody > tr:first-child td {
  border-top: none;
}

.r-table > tbody > tr th, .r-table > tbody > tr td {
  line-height: 1.7;
  /*width: 100px;*/
}

.r-table {
  margin-top: 30px;
}

.basic-info {
  margin-right: 15px;
}

.receive-info {
  border: 1px solid #C6C8CF;
  padding: 15px;
  border-radius: 3px;
  margin: 40px 15px;
}

.receive-info .h4 {
  font-weight: 400;
  font-size: 16px;
}

.receive-info img {
  margin-right: 10px;
  padding-bottom: 7px;
}

.receive-info .info-indent {
  margin-left: 34px;
}

.receive-info hr {
  margin: 10px -15px;
}

.purchase-info {
  border: 1px solid #c6c8cf;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.purchase-info .edit {
  margin: 0px 7px;
}

.purchase-info .under-part {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.purchase-info .title {
  font-size: 24px;
  line-height: 40px;
  width: 100%;
  border-bottom: 1px #c6c8cf solid;
  padding: 10px;
}

.purchase-info h3 {
  margin: 8px 15px;
}

.purchase-info .part1 {
  border-right: 1px #c6c8cf solid;
  flex: 1;
  width: 50%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.purchase-info .part1 .purchase {
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0px 1px 0px #c6c8cf;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.purchase-info .part1 .purchase ._purchase_img {
  height: 60px;
  width: 80px;
  background-size: cover;
}

.purchase-info .part1 .purchase .purchase-wrap {
  flex: 1;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.purchase-info .part1 .purchase .purchase-detail {
  padding-left: 90px;
}

.purchase-info .part1 .purchase .purchase_content {
  padding-left: 10px;
  flex: 1;
}

.purchase-info .part1 .purchase .purchase_content h4 {
  font-size: 16px;
  font-weight: 600;
}

.purchase-info .part1 .purchase .purchase_content .detail {
  font-size: 14px;
  color: #888;
}

.purchase-info .part1 .purchase .purchase_content .price {
  color: #44acf2;
  font-weight: 600;
}

.purchase-info .part1 .purchase .purchase_icon {
  height: 60px;
  padding: auto 10px;
  width: 30px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #999;
}

.purchase-info .part1 .purchase .purchase-hide-content {
  padding: 10px;
  flex: 1;
}

.purchase-info .part1 .purchase:hover {
  background: rgba(0, 0, 0, 0.06);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.purchase-info .part2 {
  padding: 10px 20px;
  flex: 1;
  width: 40%;
}

.purchase-info .part2 h4 {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 600;
}

.purchase-info .part2 p {
  color: #888;
}

hr {
  border-color: #c6c8cf;
}

@media screen and (max-width: 992px) {
  .white-zone {
    padding: 10px;
    position: relative;
  }
  .margin-bottom {
    margin-bottom: 100px;
  }
  .all-content {
    position: relative;
    padding: 10px;
  }
  .purchase-info .part1 {
    border-right: none;
  }
}
