.h4, .h5 {
	line-height: 1.5;
	display: inline;
}

.h4 {
	font-weight: 600;
}

.h5 {
	color: #7A7A7A;
}

.white-zone {
	background-color: white;
	width: 100%;
	height: auto;
	min-height: 100px;
	padding: 30px 0;
}

.record-up {
	height: 130px;
	margin-bottom: 15px;
}

.record {
	width: 440px;
	height: 288px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #dedede;
	padding: 15px;
	margin: 0 30px 30px 0;
	display: inline-block;

	._record_img {
		width: 172px;
		height: 130px;
		background-size: cover;
		display: inline-block;
		float: left;
		margin-right: 15px;
	}

	span {
		background-color: #d4eeff;
	}
}

.you-back {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #7a7a7a;
	background-color: #efefef;
	border-radius: 3px;
	padding: 8px;
}

.btn {
	padding: 15px 30px;
	width: 160px;
	height: 50px;
	background-color: #ffffff;
	border: solid 1px #979797;
	margin-top: 15px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 1;
	transition: .1s;
}

.btn:hover {
	color: #44ACF2;
}

.fb-btn {
	width: 104px;
	background-color: #4a73a8;
	color: white;
	border: none;
	float: right;
	font-weight: 600;
	transition: .1s;
}

.fb-btn:hover {
	color: #DEDEDE;
}

@media screen and (max-width: 992px) {
	
}





